.color-switcher {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.color-switcher__title {
  color: white;
  text-shadow: 0 2px 15px black, 0 0 5px black;
  margin-bottom: 5vh;
  font-size: xx-large;
}

.color-switcher__button {
  width: 200px;
  height: 50px;
  color: black;
  background-color: white;
  border-radius: 15px;
  border: none;
  box-shadow: 0 0 15px black;
  transition: all 250ms;
  text-transform: uppercase;
  font-weight: 800;
  font-size: x-large;
  cursor: pointer;

  &:first-child {
    margin-right: 80px;
    @media screen and (max-width: 479px) {
      margin-bottom: 50px;
      margin-right: 0;
    }
  }

  &:hover {
    background-color: black;
    color: white;
    outline: none;
  }
  &:disabled {
    background-color: silver;
    cursor: auto;
    color: black;
  }
}

// .color-switcher__button:first-child {
//   margin-right: 80px;
// }

.body-style {
  transition: background-color 350ms;
}

.color-switcher__container {
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 479px) {
    flex-direction: column;
  }
}
